@import url('https://fonts.googleapis.com/icon?family=Material+Symbols+Outlined');
:host {
  display: flex;
  justify-content: center;
  font-family: var(--inter-font);
}
[ngAccordionGroup] {
  width: 500px;
}
h3 {
  font-size: 1rem;
  margin: 0;
  color: var(--secondary-contrast);
  box-sizing: border-box;
  position: relative;
}
h3:focus-within::before,
h3:hover::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 2px;
  background-color: var(--vivid-pink);
  top: 0;
  left: 0;
}
h3:not(:first-of-type) {
  border-block-start: 1px solid var(--senary-contrast);
}
p {
  margin: 0;
  padding: 0 1.5rem 1.5rem 1.5rem;
  color: var(--tertiary-contrast);
  font-size: 0.875rem;
  animation: slideDown 0.3s ease-out;
}
@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
[ngAccordionTrigger] {
  display: flex;
  align-items: center;
  justify-content: space-between;
  outline: none;
  cursor: pointer;
  padding: 1.5rem;
  transition: all 0.3s ease-out;
  border-radius: 4px;
  position: relative;
  color: var(--secondary-contrast);
}
[ngAccordionTrigger]::before {
  content: '';
  position: absolute;
  inset: 0;
  background-image: var(--pink-to-purple-horizontal-gradient);
  border-radius: 4px;
  opacity: 0;
  transition: opacity 0.3s ease-out;
  z-index: -1;
}
[ngAccordionTrigger]:hover::before {
  opacity: 0.1;
}
[ngAccordionTrigger][aria-expanded='true'] {
  background-image: var(--pink-to-purple-horizontal-gradient);
  background-clip: text;
  -webkit-background-clip: text;
}
[ngAccordionTrigger][aria-expanded='true']::before {
  opacity: 1;
  z-index: -1;
}
[ngAccordionTrigger][aria-disabled='true'] {
  opacity: 0.5;
  cursor: default;
}
.expand-icon {
  position: relative;
  width: 1rem;
  height: 1rem;
  flex-shrink: 0;
  margin-left: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.expand-icon::before,
.expand-icon::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  background-color: currentColor;
  transition: all 0.3s ease-out;
}
.expand-icon::after {
  transform: translateX(-50%) rotate(90deg);
}
[ngAccordionTrigger][aria-expanded='true'] .expand-icon {
  color: var(--electric-violet);
}
[ngAccordionTrigger]:not([aria-expanded='true']) .expand-icon {
  color: var(--quaternary-contrast);
}
.expand-icon__expanded::before {
  transform: translateX(-50%) translateY(-50%) rotate(-90deg);
  opacity: 0;
}
.expand-icon__expanded::after {
  transform: translateX(-50%) translateY(-50%) rotate(0);
}

.autocomplete {
  display: flex;
  margin-top: 10px;
  position: relative;
  align-items: center;
  border: 1px solid white;
  border-radius: 3px;
}

.autocomplete input {
  width: 100%;
}
.material-symbols-outlined {
  font-size: 1.25rem;
  pointer-events: none;
}
.search-icon {
  left: 0.75rem;
  position: absolute;
  color: var(--quaternary-contrast);
}
[ngComboboxInput] {
  width: 13rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  padding: 0.75rem 0.5rem 0.75rem 2.5rem;
  color: var(--primary-contrast);
  outline-color: var(--hot-pink);
  border: 1px solid var(--quinary-contrast);
  background-color: var(--page-background);
}
[ngComboboxInput]::placeholder {
  color: var(--quaternary-contrast);
}
[ngCombobox]:has([aria-expanded='false']) .popup {
  display: none;
}
.popup {
  width: 100%;
  margin-top: 8px;
  padding: 0.5rem;
  max-height: 11rem;
  border-radius: 0.5rem;
  box-shadow: 1px 3px 10px 5px rgba(128, 128, 128, 0.352);
  background-color: black;
  font-size: 0.9rem;
}
.no-results {
  padding: 1rem;
}
[ngListbox] {
  gap: 2px;
  height: 100%;
  display: flex;
  overflow: auto;
  flex-direction: column;
}
[ngOption] {
  display: flex;
  cursor: pointer;
  align-items: center;
  margin: 1px;
  padding: 0 1rem;
  min-height: 2.25rem;
  border-radius: 0.5rem;
}
[ngOption]:hover {
  background-color: color-mix(in srgb, var(--primary-contrast) 5%, transparent);
}
[ngOption][data-active='true'] {
  outline-offset: -2px;
  outline: 2px solid var(--hot-pink);
}
[ngOption][aria-selected='true'] {
  color: var(--hot-pink);
  background-color: color-mix(in srgb, var(--hot-pink) 5%, transparent);
}
[ngOption]:not([aria-selected='true']) .check-icon {
  display: none;
}
.option-label {
  flex: 1;
}
.check-icon {
  font-size: 0.9rem;
}

.autocomplete {
  display: flex;
  position: relative;
  align-items: center;
}
.material-symbols-outlined {
  font-size: 1.25rem;
  pointer-events: none;
}
.search-icon {
  left: 0.75rem;
  position: absolute;
  color: var(--quaternary-contrast);
}
[ngComboboxInput] {
  width: 13rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  padding: 0.75rem 0.5rem 0.75rem 2.5rem;
  color: var(--primary-contrast);
  outline-color: var(--hot-pink);
  border: 1px solid var(--quinary-contrast);
  background-color: var(--page-background);
}
[ngComboboxInput]::placeholder {
  color: var(--quaternary-contrast);
}
[ngCombobox]:has([aria-expanded='false']) .popup {
  display: none;
}
.popup {
  width: 100%;
  margin-top: 8px;
  padding: 0.5rem;
  max-height: 11rem;
  border-radius: 0.5rem;
  background-color: black;
  box-shadow: 1px 3px 10px 5px rgba(128, 128, 128, 0.352);
  font-size: 0.9rem;
}
.no-results {
  padding: 1rem;
}
[ngListbox] {
  gap: 2px;
  height: 100%;
  display: flex;
  overflow: auto;
  flex-direction: column;
}
[ngOption] {
  display: flex;
  cursor: pointer;
  align-items: center;
  margin: 1px;
  padding: 0 1rem;
  min-height: 2.25rem;
  border-radius: 0.5rem;
}
[ngOption]:hover {
  background-color: color-mix(in srgb, var(--primary-contrast) 5%, transparent);
}
[ngOption][data-active='true'] {
  outline-offset: -2px;
  outline: 2px solid var(--hot-pink);
}
[ngOption][aria-selected='true'] {
  color: var(--hot-pink);
  background-color: color-mix(in srgb, var(--hot-pink) 5%, transparent);
}
[ngOption]:not([aria-selected='true']) .check-icon {
  display: none;
}
.option-label {
  flex: 1;
}
.check-icon {
  font-size: 0.9rem;
}
